:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 0;
  margin: 0;
}

#app {
  background-color: #212228;
  background-image: linear-gradient(#292a30 0.1em, transparent 0.1em),
    linear-gradient(90deg, #292a30 0.1em, transparent 0.1em);
  background-size: 4em 4em;
  height: 1500px;
  position: relative;
  /* overflow: auto; */
  overflow: hidden; /* on gère le pan, donc on cache le débordement */
}

.card {
  width: 1000px;
  /* max-width: calc(100vw);*/ /* image pleine largeur */
  /* max-height: calc(100vh - 4rem);*/ /*image un peu plus petite*/
  object-fit: contain; /* conserve les proportions */
  background-color: aquamarine;
  border-radius: 5px;
  padding: 2rem; /* espace intérieur si tu veux que la couleur entoure l'image */

  cursor: pointer;
  position: fixed;
  box-sizing: border-box;
  transform-origin: 0 0; /* utile pour les calculs de zoom centré sur la souris */
  touch-action: none; /* empêche le geste tactile natif lors du drag/zoom */
}
